[Unit]
Description=Runs invoice-generator on the last day of the month

[Timer]
OnCalendar=*-*-* 09:51:00
AccuracySec=1min
Unit=invoice-generator.service

[Install]
WantedBy=timers.target
